body{
    color: #414141;               /* Dark gray */
    background-color: #EEEEEE;    /* Light gray */
    font-size: 18px;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2em;
}

h2 { 
    font-size: 1.6em;
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: lower-roman;
}

p {
    text-align: center;
}

